.container-1 {
    display: flex;
    flex-direction: row;
  }
  
  .container-2 {
    display: flex;
    flex-direction: row;
  }
  
  .container-2-box {
    flex-basis: 33.33%;
  }
  
  .box-1 {
    flex: 1;
    order: 2;
  }
  
  .box-2 {
    flex: 1;
    order: 1;
  }
  
  .box-3 {
    flex: 1;
    order: 3;
  }
  
  .container-1 > div,
  .container-2 > div {
    margin: 10px;
  }
  
  .container-3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .container-3-box {
    flex-basis: 16.66%;
  }
  
  .container-3-box:nth-child(n + 4) {
    margin-top: 20px;
  }
  